body{
    background-image: linear-gradient(to right,#ffde59,#ff914d);
    font-family: Andale Mono, monospace;
}
nav {
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;
}
nav a {
    color: black;
    text-decoration: none;
    text-align: justify;
    margin: 0 10px;
}

.left-links {
    float: left;
}

.right-links {
    float: right;
}

.funciona,.sobre{
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s, font-size 0.5s;
}

.funciona:hover,.sobre:hover{
    font-size: 137%;
    color: white;
}

.criar,.entrar{
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s, font-size 0.5s;
}

.criar:hover,.entrar:hover{
    font-size: 137%;
    color: white;
}

.text{
    padding: 5% 2%;
    max-width: 80%;
    text-align: justify;
}

ul{
    font-size: 20px;
}

.page{
    display: flex;
}

.locate{
    padding: 5% 5%;
}

.mesage{
    text-align: center;
    margin: auto;
}